@tailwind base;
@tailwind components;
@tailwind utilities;

@layer uitilities {
  @keyframes enteranimation {
    0% {
      transform: translateY(-80%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes exitanimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(-80%);
      opacity: 0;
    }
  }

  /* span a {
    color: #1d9bf0;
    text-decoration-color: #1d9bf0;
    text-decoration: underline;
  }

  span a:hover {
    border-bottom: 1px solid #1d9bf0;
    border: 1px solid #000000;
  } */

  .mobile-top-nav {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
  }

  .primary-gradient {
    background: linear-gradient(93.08deg, #33edf9 3.54%, #167bd8 103.54%);
  }

  .button-dropshadow {
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
  }

  .box-shadow-top {
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .enter-animation {
    animation: enteranimation 0.3s linear;
    -webkit-animation: enteranimation 0.3s linear;
    -moz-animation: enteranimation 0.3s linear;
    -o-animation: enteranimation 0.3s linear;
  }
  .exit-animation {
    animation: exitanimation 0.3s linear;
    -webkit-animation: exitanimation 0.3s linear;
    -moz-animation: exitanimation 0.3s linear;
    -o-animation: exitanimation 0.3s linear;
    transform: translateY(-80%);
    opacity: 0;
  }

  .image-unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
    background: var(--background);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
    background: transparent;
  }

  .noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .noSelect:focus {
    outline: none !important;
  }

  @media only screen and (max-width: 768px) {
    input,
    textarea,
    button,
    select,
    a,
    div,
    p,
    span {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* @media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
      background: #1a1a1b;
    }
  } */

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9378d8;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9378d8;
  }
}

/** CSS overrides for audio player **/
.plyr {
  @apply rounded-lg;
}

.plyr__control--overlaid {
  @apply !bg-[#9378d8];
}

.plyr--full-ui input[type='range'] {
  @apply !text-[#fff];
}

.plyr__control {
  @apply !bg-[#9378d8];
}

.plyr--audio .plyr__controls {
  @apply !bg-transparent !text-white;
}

.plyr--audio .plyr__control {
  @apply hover:!bg-transparent;
}

.plyr--audio.plyr--full-ui input[type='range'] {
  @apply !text-white;
}

:root {
  --background: #f9f9f9;
  --background-secondary: #ffffff;
  /* --accent-primary: #1d9bf0; */
  --accent-primary: #9378d8;
  --accent-primary-disabled: #9c93ad;
  --accent-secondary: theme('colors.purple.600');
  /* --accent-hover: theme('colors.purple.500'); */
  --accent-hover: #ede9fe;
  --accent-hover-secondary: #f4f4f5;

  --text-primary: #000000;
  --text-secondary: #687684;
  --text-anti-primary: #ffffff;
  --text-lens: #00501e;
  /* --text-secondary: #ffffff; */

  /* --border-primary: #c4c4c4; */
  --border-primary: #9378d8;
  --border-secondary: #e5e5e7;

  --background-pop: #00000038;

  --background-secondary-highlight: #ececec;
  --background-primary-highlight: #d2daff;

  --bg-primary: #eef1ff;
  /* --color-primary: #9378d8; */

  --btn-primary-text: #ffffff;
  --hover-primary: #d1d9ff;
  --hover-primary-text: #000;

  --main-btn-bg: #ffffff;
  --main-btn-text: #9378d8;
  --main-btn-hover-bg: #9378d8;
  --main-btn-hover-text: #ffffff;

  --select-btn-bg: #ffffff;
  --select-btn-text: #030303;
  --select-btn-hover-bg: #f4f4f5;
  --select-active-btn-bg: #030303;
  --select-active-btn-text: #ffffff;
}

[data-theme='dark'] {
  --background: #030303;
  --background-secondary: #1a1a1b;
  --accent-primary: #9378d8;
  --accent-secondary: theme('colors.purple.600');
  --accent-hover: #272729;
  --accent-hover-secondary: #272729;

  --text-primary: #d7dadc;
  --text-secondary: #9197ae;

  --border-primary: #343536;
  --border-secondary: #4e4e4e;

  --background-pop: #ffffff38;

  --btn-primary-text: #d7dadc;

  --hover-primary: #d7dadc;
  --hover-primary-text: #1a1a1b;

  --main-btn-bg: #1a1a1b;
  --main-btn-text: #ffffff;
  --main-btn-hover-bg: #d7dadc;
  --main-btn-hover-text: #1a1a1b;

  --select-btn-bg: #272727;
  --select-btn-text: #fbfbfb;
  --select-btn-hover-bg: #3b3b3b;
  --select-active-btn-bg: #ffffff;
  --select-active-btn-text: #464646;
}

.custom-zoom [data-rmiz-modal-overlay='visible'] {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.custom-zoom [data-rmiz-btn-unzoom]:focus-visible {
  outline-offset: 0.4rem;
  outline: none;
}
[data-rmiz-content="found"] img {
  cursor: pointer !important;
}
[data-rmiz-content="found"] svg {
  cursor: pointer !important;
}
[data-rmiz-content="found"] [role="img"] {
  cursor: pointer !important;
}
[data-rmiz-content="found"] [data-zoom] {
  cursor: pointer !important;
}
[data-rmiz-btn-zoom] {
  cursor: pointer;
}
.custom-zoom [data-rmiz-modal-img] {
  cursor: pointer;
}
.custom-zoom [data-rmiz-btn-unzoom] {
  cursor: pointer;
}
