@tailwind base;
@tailwind components;
@tailwind utilities;

@layer uitilities {
  .mobile-top-nav {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
  }

  .button-dropshadow {
    filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.4));
  }
}

:root {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.50');
    --accent-primary: theme("colors.purple.700");
    --accent-secondary: theme("colors.purple.600");
    --accent-hover: theme("colors.purple.500");

    --text-primary: theme("colors.gray.800");
    --text-secondary: theme("colors.gray.700");
  }
  
  [data-theme='dark'] {
    --background: theme('colors.black');
    --background-secondary: #16181C;
    --accent-primary: theme("colors.purple.700");
    --accent-secondary: theme("colors.purple.600");
    --accent-hover: theme("colors.purple.500");

    --text-primary: theme("colors.gray.100");
    --text-secondary: theme("colors.gray.200");
  }
  