@tailwind base;
@tailwind components;
@tailwind utilities;

@layer uitilities {
  @keyframes enteranimation {
    0% {
      transform: translateY(-80%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes exitanimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(-80%);
      opacity: 0;
    }
  }
  .mobile-top-nav {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
  }

  .primary-gradient {
    background: linear-gradient(93.08deg, #33edf9 3.54%, #167bd8 103.54%);
  }

  .button-dropshadow {
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
  }

  .box-shadow-top {
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .enter-animation {
    animation: enteranimation 0.3s linear;
    -webkit-animation: enteranimation 0.3s linear;
    -moz-animation: enteranimation 0.3s linear;
    -o-animation: enteranimation 0.3s linear;
  }
  .exit-animation {
    animation: exitanimation 0.3s linear;
    -webkit-animation: exitanimation 0.3s linear;
    -moz-animation: exitanimation 0.3s linear;
    -o-animation: exitanimation 0.3s linear;
    transform: translateY(-80%);
    opacity: 0;
  }

  .image-unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

:root {
  --background: #eef1ff;
  --background-secondary: #ffffff;
  /* --accent-primary: #1d9bf0; */
  --accent-primary: #9378d8;
  --accent-secondary: theme('colors.purple.600');
  /* --accent-hover: theme('colors.purple.500'); */
  --accent-hover: #dee4ff;

  --text-primary: #000000;
  --text-secondary: #9197ae;
  --text-anti-primary: #ffffff;
  --text-lens: #00501e;
  /* --text-secondary: #ffffff; */

  /* --border-primary: #c4c4c4; */
  --border-primary: #b1b2ff;

  --background-pop: #00000038;

  --background-secondary-highlight: #ececec;
  --background-primary-highlight: #d2daff;

  --bg-primary: #eef1ff;
  /* --color-primary: #9378d8; */
}

[data-theme='dark'] {
  --background: #000000;
  --background-secondary: #16181c;
  --accent-primary: #1d9bf0;
  --accent-secondary: theme('colors.purple.600');
  --accent-hover: theme('colors.purple.500');

  --text-primary: #ffffff;
  --text-secondary: #9197ae;

  --border-primary: #464646;

  --background-pop: #ffffff38;
}
